.home-container {
  margin-top: 50px;
  overflow-y: auto;
  .giphy-grid {
    margin: 40px auto 20px auto;
  }
  .load-more {
    text-align: center;
    color: black;
    margin: 20px;
    &:hover {
      font-weight: bold;
    }
    span {
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

// 2 columns without user's info
@media only screen and (max-width: 530px) {
  .giphy-grid {
    max-width: 500px;
  }
}

// 3 columns
@media only screen and (min-width: 530px) and (max-width: 820px)  {
  .giphy-grid {
    max-width: 750px;
  }
}

// 3 columns
@media only screen and (min-width: 820px) and (max-width: 1050px)  {
  .giphy-grid {
    max-width: 1000px;
  }
}

// 4 columns
@media only screen and (min-width: 1050px) {
  .giphy-grid {
    max-width: 1250px;
  }
}