.default-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100.1%;
  height: 100.3%;
  margin-top: -1px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;

  .default-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%);
  }

  .close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  .close-btn:hover {
    color: white;
  }
}

// 2 columns without user's info
@media only screen and (max-width: 480px) {
  .default-modal {
    width: 100%;
  }
  .close-btn {
    top: 1% !important;
    right: 1% !important;
  }
}

// 3 columns
@media only screen and (min-width: 480px) and (max-width: 820px)  {
  .default-modal {
    width: 70%;
  }
}

// 3 columns
@media only screen and (min-width: 820px) and (max-width: 1050px)  {
  .default-modal {
    width: 50%;
  }
}

// 4 columns
@media only screen and (min-width: 1050px) {
  .default-modal {
    
  }
}